{
    {$CADDY_TLS_MODE}
    auto_https disable_redirects
    servers {
      metrics
    }
}
  
:8000 {
    {$CADDY_TLS_CERT}
    log
    root * /opt/app-root/src/build
    file_server

    @notStatic {
        file
        not path /static/* /favicon.ico /asset-manifest.json /manifest.json /logo192.png /logo512.png /favicon.ico /robots.txt
        try_files {path} /index.html
    }
    rewrite @notStatic /index.html

}
