{
    {$CADDY_TLS_MODE}
    auto_https disable_redirects
    servers {
      metrics
    }
}
  
:8000 {
    {$CADDY_TLS_CERT}
    log
    root * /opt/app-root/src/build
    file_server

    # Serve index.html for requests that do not match a file
    try_files {path} /index.html

    # Optional: Handle specific static files or paths directly if needed
    # e.g., for serving assets, favicon, manifest, etc.
}
